@import "tailwindcss";

html {
  font-size: 10px;
  font-family: "Noto Sans", sans-serif !important;
  font-weight: 400;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@layer components {
  .max-width {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}